
*/pyscript-main

*.pt
*/MNIST
*/celeba
*.png
*.whl
*.pyc
venv/
RL/rl/bin
RL/rl/lib
RL/rl/include
RL/rl/lib64
RL/rl/share
RL/rl
RL/__init__.py
.env/
.idea/
swigwin*
Speech to text API/text-to-speech-349604-369288fae48e.json
Speech to text API/stt1 quickstart.py
Speech To Text/text-to-speech-349604-369288fae48e.json
Speech To Text/constants.py
The StatQuest/data/FashionMNIST/raw/t10k-images-idx3-ubyte
The StatQuest/data/FashionMNIST/raw/t10k-images-idx3-ubyte.gz
The StatQuest/data/FashionMNIST/raw/t10k-labels-idx1-ubyte
The StatQuest/data/FashionMNIST/raw/t10k-labels-idx1-ubyte.gz
The StatQuest/data/FashionMNIST/raw/train-images-idx3-ubyte
The StatQuest/data/FashionMNIST/raw/train-images-idx3-ubyte.gz
The StatQuest/data/FashionMNIST/raw/train-labels-idx1-ubyte
The StatQuest/data/FashionMNIST/raw/train-labels-idx1-ubyte.gz
*.vocab
*.txt
Machine Learning With PyTorch and Scikit-Learn/aclImdb/test/labeledBow.feat
*.feat
Machine Learning With PyTorch and Scikit-Learn/aclImdb_v1.tar.gz
Machine Learning With PyTorch and Scikit-Learn/aclImdb/README
Machine Learning With PyTorch and Scikit-Learn/movie_data.csv
*stopwords
Speech To Text/wave.wav
Speech To Text/output.wav
Speech To Text/pyscr.html
Speech To Text/pyscr.html
Speech To Text/compare1.py
Speech To Text/compare2.py
roboflow_unzipped
YOLOv5_cars/yolov5/
wandb/
YOLOv5_cars/html_yolo_readme.html
YOLOv5_cars/creds.py
YOLOv5_cars/dataset/
YOLOv5_cars/images/
YOLOv5_cars/labels/
YOLOv5_cars/ll
RedisAI/
ReinforcementLearning/breakout/_dqn
ReinforcementLearning/breakout/training_plot.jpg
ReinforcementLearning/lunar lander/_dqn
ReinforcementLearning/lunar lander/checkpoints
*.jpg
ReinforcementLearning/breakout/checkpoints
