
*.png
*.whl
*.pyc
venv/
RL/rl/bin
RL/rl/lib
RL/rl/include
RL/rl/lib64
RL/rl/share
RL/rl
RL/__init__.py
.env/
.idea/
swigwin*
Speech to text API/text-to-speech-349604-369288fae48e.json
Speech to text API/stt1 quickstart.py
