* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #0d122b;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}
h1 {
  text-align: center;
  font-weight: 100;
}
header {
  border-bottom: 1px solid #0d122b;
  margin-bottom: 2em;
}
main {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 2em;
  padding-top: 4em;
  text-align: center;
}






.switch.btn label {
  width: 20px;
  border: none;
  background: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border-radius: 40px;
  margin-bottom: 4em;
}

input[type=checkbox] {
  display: none;
}

.switch.btn label:hover {
  color: #58c248;
}

.switch.btn input[type=checkbox]:checked ~ label {
  color: #f22f46;
}

input[type=checkbox]:checked + .label {
  color: #f22f46;
}

.text-box {
  position: relative;
  border: 1px solid #f2efe2;
  width: 40vw;
  max-width: 40vw;
  margin: 0 auto;
  border-radius: 0.9rem;
  background: #f2efe2;
  padding: 0.2rem 1rem;
  color: #1e2440;
  margin-top: 10vh;
}




a { color: #0d122b;
}
.error {
  color: #f22f46;
  text-align: center;
}
footer {
  border-top: 1px solid #0d122b;
  text-align: center;
}




.switch.btn i {
#position: absolute;
#padding-left: 140px;
top: 205px
}



.switch.btn2 label {
  width: 20px;
  border: none;
  background: none;
  transition: all 0.4s ease 0s;
  cursor: pointer;
  border-radius: 40px;
  margin-bottom: 4em;
}