* {
  box-sizing: border-box;
}
html,
body {
  min-height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: Helvetica, Arial, sans-serif;
  color: #0d122b;
  display: flex;
  flex-direction: column;
  padding-left: 1em;
  padding-right: 1em;
}
h1 {
  text-align: center;
  font-weight: 100;
}
header {
  border-bottom: 1px solid #0d122b;
  margin-bottom: 2em;
}
main {
  flex-grow: 2;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  border-radius: 12px;
  margin-bottom: 2em;
  padding-top: 4em;
  text-align: center;
}



input[type=checkbox] {
  display: none;
}

.switch.btn label:hover {
  color: #58c248;
}

input[type=checkbox]:checked + .label {
  color: #f22f46;
}

input[type=checkbox]:checked + span i {
  color: #f22f46;
}
label{
cursor:pointer;
}



span.inner-icon {
    position: relative;
    left: -35px;
    top: 4px;
    font-size: 28px;
}

#span.inner-icon:checked + .label {
  color: #f22f46;
}

input[id=m4wkod] {
    padding: 1px 2px;
    width: 200px;
    height: 50px;
}










.error {
  color: #f22f46;
  text-align: center;
}



